html {
  background-color: #ffffff;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 50px 0px 50px;
}

.login__left {
  flex: 0.5;
  text-align: center;
}

.login__right {
  flex: 0.5;
}

.login__left > img {
  width: 400px;
  margin-top: 40px;
}

.login__form {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 50px;
  margin-right: 30px;
  margin-left: 30px;
}

.login__form > img {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.login__form > input {
  background-color: #fafafa;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 12px;
  margin-bottom: 10px;
}

.login__form > input:focus {
  outline: 1px solid grey;
}

.login__form > button {
  padding: 12px;
  border-radius: 8px;
  border: 0;
  font-weight: bolder;
  color: white;
  background-color: #0095f6;
}

.login__form > button:hover {
  cursor: pointer;
}

.login__more {
  border: 1px solid lightgray;
  padding: 20px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 13px;
  text-align: center;
}

.login__more > span {
  color: black;
  font-weight: 500;
  font-size: 14px;
}

.login__more > span > button {
  background: 0;
  border: 0;
  font-weight: bolder;
  color: #0095f6;
}
